body {
  margin: 0;
}

header {
  margin-top: 15px;
  margin-bottom: 15px;
}
.head-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.head {
  font-size: 30px;
  font-family: cursive;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul :first-child {
  margin-left: 0;
}
li {
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 15px;
}

.button {
  margin-right: 20px;
}

.button button {
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 15px 25px;
}
.mainboard {
  background-color: rgb(103, 191, 199);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.first-box {
  font-size: 50px;
}

.second-box {
  font-size: 25px;
}

.second-box button {
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
  padding: 15px 25px;
}
